* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 80%;
    margin: 15px auto;
    padding: 15px 30px;
    background-color: #8ee000;
    border-radius: 10px;
    color: orange;
    text-align: center;
}
.container .p1{
    color:#000;
}
.container .p2 {
    color: #fff;
}
.container img {
    display: block;
    margin: 10px auto;
    object-fit: cover;
    width: 80%;
    height: auto;
    border-radius: 10%;
    padding: 10px;
  /*  object-fit: cover;
    display: block;
    margin: 10px auto;
    width: 60%;
>>>>>>> hello-world-image*/
}
.container .img-container {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    padding: 5px 2%;
}
.img-container img {
    flex: 50%;
    display: inline;
    margin: 10px 3px;
    width: 45%;
}